.o_workorder_tablet_form {

    .workorder_picture {
        margin: 5px 0;

        .o_field_iot_picture {
            img {
                height: 80px;
                cursor: zoom-in;
            }

            .opacity-0 {
                opacity: 1 !important;
            }
        }
    }
}
