// = ACCOUNT RECONCILIATION
// ============================================================================
// No CSS hacks, variables overrides only

.progress-reconciliation {
    --AccountReconciliation-background-progress-bar: #00DAC5;
}

.o_reconciliation {
    --AccountReconciliation-background-color: #{$o-gray-200};
    --AccountReconciliation-text-color: #{$o-gray-800};
    --AccountReconciliation-border-color: #{$o-gray-400};
    --AccountReconciliation-bottom-color: #{$o-gray-900};
    --AccountReconciliation-background-hover: #{$o-gray-300};
}
